#about {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#about {
  background-color: #457b9d;
  width: 100%;
  height: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* about me section */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 5px;
  margin: 50px;
}

.about-heading {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
}
.about-heading-split {
  color: #a8dadc;
  text-shadow: 0 8px 32px 0 #1d3557;
}

.about-content {
  display: flex;
  flex-direction: row;
}
.my-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 55%;
}

.my-pic {
  height: 400px;
  width: 550px;
  border-radius: 10px;
}
.my-details {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}
.details {
  color: #1d3557;
  margin: 15px;
  font-size: 20px;
}

.about-icon {
  color: #a8dadc;
}
.my-bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 45%;
  margin: 5px;
}

.bio-text {
  color: #1d3557;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  /* text-align: justify; */
}

.download-btn {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  border-radius: 50px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.6s;
}
.download-btn:hover {
  background-color: #a8dadc;
  color: #1d3557;
  border-color: #1d3557;
}

/* my resume section */
.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 5px;
  margin: 50px;
}
.resume-button {
  font-size: 0.938em;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;
  color: #1d3557;
  background-color: white;
  border: none;
}

.resume-button:hover {
  color: #a8dadc;
  cursor: pointer;
  transition: 0.6s;
}

.middle-button {
  border-left: 2px solid #1c6ea4;
  border-right: 2px solid #1c6ea4;
}

.resume-tooltip {
  position: relative;
}
.resume-tooltip-text {
  visibility: hidden;
  width: 150px;
  color: #a8dadc;

  background-color: #1d3557;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  margin-left: -80px;
}
.resume-tooltip:hover .resume-tooltip-text {
  visibility: visible;
  transition: 0.3s;
}

.resume-content {
  display: none;
}

.resume-content.active {
  display: flex;
  justify-content: center;

  background-attachment: fixed;
  transition: 0.6s;

  justify-content: center;

  padding: 20px;

  border-radius: 10px;
  width: 100%;

  height: 60vh;
}
.sub-heading {
  display: flex;
  justify-content: center;
  font-size: 3.125em;
  color: #1d3557;
  padding-left: 5%;
}

.resume-container {
  place-items: center;
}

.resume-mini-container {
  background-color: #457b9d;
  color: #a8dadc;

  padding: 30px;

  border-radius: 10px;
  font-size: 1.25em;
  transition: 0.6s;
  height: 50vh;
  cursor: grab;
  margin: 20px;
}
.resume-mini-container:hover {
  cursor: pointer;
}
.resume-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.resume-year {
  font-size: 16px;
  color: #a8dadc;
  background-color: #1d3557;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}

.resume-title-span {
  display: flex;
  font-size: 16px;
  font-weight: 100;
  color: #1d3557;
  text-shadow: 0px 0px 3px #a8dadc;
}
.resume-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #a8dadc;
  text-shadow: 0px 0px 3px #1d3557;
}
.resume-description {
  margin-top: 10px;
  font-style: italic;
  color: #f1faee;
  text-align: center;
}
.owl-nav-right {
  position: fixed;
  top: 50%;
  right: 55px;
  font-size: 55px;
  color: #a8dadc;
  cursor: pointer;
}

.owl-nav-left {
  position: fixed;
  top: 50%;
  left: 55px;
  font-size: 55px;
  color: #a8dadc;
  cursor: pointer;
}

.owl-nav-right:hover {
  color: #1d3557;
}

.owl-nav-left:hover {
  color: #1d3557;
}

/* passion board */
.passion-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: white;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 5px;
  margin: 50px;
}

.passion-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
  padding-top: 2%;
}

.passion-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  padding: 30px;
  color: #1d3557;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6.25em;
  transition: 0.6s;
  color: #a8dadc;
  text-decoration: none;
}

/* Skills section */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: white;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 5px;
  margin: 50px;
}

.skills-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-top: 2%;
  flex-wrap: wrap;
}

.skills-subheading {
  align-self: flex-start;
  font-size: 3em;
  color: #a8dadc;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  padding: 30px;
  color: #1d3557;
}

/* icon hovers */

.icon-tooltip {
  position: relative;
}

.icon-tooltip-text {
  visibility: hidden;
  color: #a8dadc;

  background-color: #1d3557;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;

  position: absolute;
  z-index: 1;
  top: 0;
  left: 105%;
  margin-left: -80px;
}
.icon-tooltip:hover .icon-tooltip-text {
  visibility: visible;
  transition: 0.3s;
}
.fa-html5:hover {
  color: #e34c26;
  transition: 0.6s;
}
.fa-css3-alt:hover {
  color: #2965f1;
  transition: 0.6s;
}
.fa-js-square:hover {
  color: #f0db4f;
  transition: 0.6s;
}
.fa-python:hover {
  color: #4b8bbe;
  transition: 0.6s;
}
.fa-camera:hover {
  color: #bc2a8d;
  transition: 0.6s;
}
.devicon-mysql-plain:hover {
  color: #0f536c;
}

.devicon-postgresql-plain:hover {
  color: #336791;
}

.devicon-vuejs-plain:hover {
  color: #60be86;
}

.devicon-flask-original:hover {
  color: #010101;
}

.devicon-mongodb-plain:hover {
  color: #4faa41;
}

.devicon-nodejs-plain:hover {
  color: #83cd29;
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .about-me {
    margin: 20px;
  }

  .about-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about-heading {
    font-size: 50px;
  }

  .my-pic {
    height: 200px;
    width: 250px;
  }

  .my-bio-container {
    width: 100%;
  }

  .bio-text {
    margin: 10px;
    padding: 10px;
    text-align: justify;
  }

  .resume {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
  }

  .resume-content.active {
    padding: 20;
  }

  .resume-mini-container {
    padding: 15px;
    margin: 5px;

    border-radius: 10px;
    font-size: 1.25em;
    transition: 0.6s;
    height: 51vh;
    cursor: grab;
  }

  .owl-nav-right {
    right: 0;
    font-size: 55px;
  }

  .owl-nav-left {
    left: 0;
    font-size: 55px;
  }

  .my-details-container {
    width: 100%;
  }
  .my-details {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .passion-board {
    margin: 20px;
  }

  .skills {
    margin: 20px;
  }

  .skill-icon {
    font-size: 10px;
  }

  .passion-icon {
    font-size: 10px;
  }
}
