#contact {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

body {
  background-color: #457b9d;
}
.contact-container {
  background: white;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin: 50px;
  height: 100%;
}

.contact-heading {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
  text-align: center;
}
.contact-heading-split {
  color: #a8dadc;
  text-shadow: 0 8px 32px 0 #1d3557;
}

.my-contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #1d3557;
  font-size: 20px;
  margin: 30px;
}

.my-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  background-color: #457b9d;
  margin: 5px;
  color: #a8dadc;
}

.contact-icon {
  color: #1d3557;
}

.contact-me-container {
  display: flex;
  flex-direction: row;
  background: #457b9d;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  margin: 20px;
  margin-bottom: 70px;
  height: 100%;
}

.contact-me-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 16px;
  color: #a8dadc;
  width: 40%;
  margin: 10px;
}

h3 {
  font-size: 20px;
  text-shadow: 3px 3px 3px #1d3557;
  margin-bottom: 10px;
  margin-top: 10px;
}

.formed {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* margin: 30px; */

  background: #a8dadc;
  width: 50%;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#contact-form {
  background: #457b9d;

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  margin: 20px;
  margin-bottom: 70px;
  height: 100%;
}

.your-info {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
.dsply {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

h3 {
  font-size: 20px;
  text-shadow: 3px 3px 3px #1d3557;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-input {
  padding: 5px;
  margin: 15px;
  border: none;
  background-color: #f1faee;
}

.send-button {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  background-color: #f1faee;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 20%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: center;

  transition: 0.3s;

  font-size: 15px;
}

.send-button:hover {
  color: #1d3557;
  border: 2px solid #1d3557;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
}

.link-button {
  color: #a8dadc;
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}
.link-button:hover {
  color: #1d3557;

  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .contact-heading {
    font-size: 50px;
  }
  .my-contact-details {
    display: flex;
    flex-direction: column;
  }
  .contact-me-container {
    display: flex;
    flex-direction: column;
  }

  .your-info {
    display: flex;
    flex-direction: column;
  }

  .contact-me-message {
    width: 100%;
  }

  .formed {
    width: 100%;
  }
}
