footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 15px;
}

.footer-contact-btn {
  text-decoration: none;
  color: #1d3557;

  border: 2px solid #1d3557;

  border-radius: 50px;
  transition: 0.6s;
  font-weight: 600;
  font-size: 13px;
  padding: 5px;
}
.footer-contact-btn:hover {
  color: #a8dadc;
  border: 2px solid #a8dadc;
  border-radius: 50px;
  transition: 0.6s;
}

.footer-text {
  color: #1d3557;
  text-decoration: none;
  transition: 0.6s;
}
.footer-text:hover {
  color: #a8dadc;
}

.footer-links {
}

.footer-icon {
  text-decoration: none;
  margin: 5px;
  color: #1d3557;
  font-size: 25px;
  transition: 0.6s;
}

.footer-icon:hover {
  color: #a8dadc;
  transition: 0.6s;
}

.footer-tooltip {
  position: relative;
}
.footer-tooltip-text {
  visibility: hidden;
  color: #a8dadc;

  background-color: #1d3557;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;

  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
  margin-right: 20px;
}

.footer-tooltip:hover .footer-tooltip-text {
  visibility: visible;
  transition: 0.3s;
}
