#portfolio {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#portfolio {
  background-color: #457b9d;
  width: 100%;
  height: 100%;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  background: white;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin: 50px;
  height: 100%;
}

.portfolio-heading {
  font-size: 80px;
  color: #1d3557;
  margin-bottom: 2%;
  text-align: center;
}
.portfolio-heading-split {
  color: #a8dadc;
  text-shadow: 0 8px 32px 0 #1d3557;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
}

.portfolio-button {
  font-size: 30px;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;
  color: #1d3557;
  background-color: white;
  border: none;
}

.portfolio-button {
  transition: 0.6s;
  cursor: pointer;
}

.fa-book-open:hover {
  color: #a8dadc;
}

.fa-html5:hover {
  color: #e34c26;
}
.fa-css3-alt:hover {
  color: #2965f1;
}
.fa-js-square:hover {
  color: #f0db4f;
}
.fa-python:hover {
  color: #4b8bbe;
}

.portfolio-tooltip {
  position: relative;
}
.portfolio-tooltip-text {
  visibility: hidden;
  color: #a8dadc;

  background-color: #1d3557;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;

  position: absolute;
  z-index: 1;
  top: -25px;
  /* left: 100%; */
  margin-left: -50px;
}
.portfolio-tooltip:hover .portfolio-tooltip-text {
  visibility: visible;
  transition: 0.3s;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.project-card {
  width: 300px;
  height: 300px;
  margin: 30px;
  overflow: hidden;
}

.project-card img {
  height: 300px;
  width: 100%;

  object-fit: cover;
}

.project-card img:hover {
  transform: scale(1.2);
}

/* project pictures */

.img-container {
  position: relative;
  width: 100%;
  height: 100%;

  cursor: zoom-in;
  transition: ease-in 0.3s;
}

.img-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;

  color: #1d3557;

  background: radial-gradient(#a8dadc 100%, #1d3557);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  visibility: hidden;
}

.img-container:hover {
  transform: scale(1.2);
}

.img-container:hover div {
  visibility: visible;
}

/* modal */
.modal {
  display: none;
}

.modal.active {
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  position: fixed;
}

.back-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  position: fixed;
  background: rgba(29, 53, 87, 0.692);
  width: 100%;
  height: 100%;
  z-index: -1;

  cursor: zoom-out;
}

.modal-picture {
  height: 350px;
  width: 350px;
}
.modal-btn {
  /* position: fixed;
  top: 50px;
  right: 50px;
  z-index: 2;
  font-size: 40px;

  color: #1d3557;

  outline: none;

  transition: 0.3s;

  cursor: pointer; */

  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 40px;

  color: white;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: transparent;
  margin: 10px;
  transition: 0.3s;
}

.modal-btn:hover {
  color: red;
}
.modal-link-buttons {
  margin: 10px;
}
.modal-link-btn {
  color: #1d3557;
  text-decoration: none;
  padding: 5px;

  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-title {
  color: #1d3557;
  text-shadow: 0px 0px 3px #a8dadc;
  font-size: 20px;
  padding: 5px;
}

.tech-stack {
  color: #a8dadc;
  font-size: 20px;
  padding: 5px;
}

.modal-content {
  background: #457b9d;
}
