.resume-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.25em;
  position: sticky;
}
.resume-button {
  font-size: 0.938em;
  margin-top: 2%;
  height: 5vh;
  width: 10vw;
  transition: 0.6s;
  color: #1d3557;
  background-color: white;
}
.resume-button:hover {
  color: #a8dadc;
  cursor: pointer;
  transition: 0.6s;
}
.education {
  /* border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white; */
  border: none;
}
.work {
  border: white;
  border-right: 2px solid #1c6ea4;
  border-left: 2px solid #1c6ea4;
}
.developement {
  /* border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white; */
  border: none;
}

.resume-tooltip {
  position: relative;
}
.resume-tooltip:hover .resume-tooltip-text {
  visibility: visible;
  transition: 0.3s;
}
.resume-tooltip-text {
  visibility: hidden;
  width: 150px;
  color: #a8dadc;

  background-color: #1d3557;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  margin-left: -80px;
}

.resume-content {
  display: none;
}

.resume-content.active {
  display: flex;
  justify-content: center;

  background-attachment: fixed;
  transition: 0.6s;

  justify-content: center;

  padding: 20px;

  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.input {
  background-color: #457b9d;
  color: #a8dadc;

  padding: 30px;

  border-radius: 10px;
  font-size: 1.25em;
  transition: 0.6s;
  height: 50vh;
  cursor: grab;
}
h6 {
  font-size: 16px;
  color: #a8dadc;
  background-color: #1d3557;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}
h5 {
  display: flex;
  flex-direction: column-reverse;
  font-size: 16px;
  font-weight: 100;
  color: #1d3557;
  text-shadow: 0px 0px 3px #a8dadc;
}
.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #a8dadc;
  text-shadow: 0px 0px 3px #1d3557;
}
.descrp {
  padding: 20px;
  font-style: italic;
  color: #f1faee;
}
.datentitle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
